<a href="{{ get_url(path=url) }}" download="{{ filename | default(value="LICENSE.md") }}" class="btn btn--secondary" style="margin: 1rem 0;">
  <span>{{ filename | default(value="LICENSE.md") }}</span>
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="M 21 15 v 4 a 2 2 0 0 1 -2 2 H 5 a 2 2 0 0 1 -2 -2 v -4"></path>
    <polyline points="7 10 12 15 17 10"></polyline>
    <line x1="12" y1="15" x2="12" y2="3"></line>
  </svg>
</a>
